# Import Data & Cleaning

In [47]:
import pandas as pd
import re
import numpy as np

In [48]:
df = pd.read_csv('mergedFile.csv')
df

,Unnamed: 0,Title,Genre,Descrption
0,0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...
1,1,The Godfather,"Crime, Drama",The aging patriarch of an organized crime dyna...
2,2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...
3,3,Schindler's List,"Biography, Drama, History","In German-occupied Poland during World War II,..."
4,4,12 Angry Men,"Crime, Drama",The jury in a New York City murder trial is fr...
...,...,...,...,...
755,755,The Vanishing,"Drama, Horror, Mystery","Rex and Saskia, a young couple in love, are on..."
756,756,Solaris,"Drama, Mystery, Romance",A psychologist is sent to a station orbiting a...
757,757,The Kid,"Comedy, Family, Fantasy","The Tramp cares for an abandoned child, but ev..."
758,758,Breathless,"Action, Drama, Romance",A small-time thief steals a car and impulsivel...
759,759,The Day the Earth Stood Still,"Adventure, Drama, Sci-Fi","An alien lands in Washington, D.C. and tells t..."

# Vectorizing

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer


vectorizer = TfidfVectorizer(stop_words = 'english',lowercase = True)
x = vectorizer.fit_transform(df['Descrption'])


tfidf = pd.DataFrame(x.toarray(), columns = vectorizer.get_feature_names_out())

tfidf_cut = tfidf.iloc[[50,60,416,194],:]
tfidf_cut['universe']

50     0.376827
60     0.245623
416    0.000000
194    0.295482
Name: universe, dtype: float64

# Hitung Similarity

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf,tfidf)

# Movie Recommendation (Output)

In [51]:
def get_recom(title,df,cosine_sim,top_n = 5):
    if title not in df['Title'].values:
        return "Film tidak ditemukan"
    
    movie_index = df.index[df['Title'] == title].tolist()[0]
    
    sim_score = list(enumerate(cosine_sim[movie_index]))
    
    sim_score = sorted(sim_score, key= lambda x: x[1],reverse=True)
    
    
    top_movie_indices = [i[0] for i in sim_score[1:top_n+1]]
    
    top_movie = df.iloc[top_movie_indices]
    return top_movie

In [52]:
input = "Avengers: Endgame"
recom = get_recom(input,df, cosine_sim)
recom

,Unnamed: 0,Title,Genre,Descrption
60,60,Avengers: Infinity War,"Action, Adventure, Sci-Fi",The Avengers and their allies must be willing ...
416,416,Captain America: Civil War,"Action, Sci-Fi",Political involvement in the Avengers' affairs...
194,194,Guardians of the Galaxy,"Action, Adventure, Comedy",A group of intergalactic criminals must pull t...
620,620,Waking Life,"Animation, Drama, Fantasy",A man shuffles through a dream meeting various...
51,51,Spider-Man: Into the Spider-Verse,"Animation, Action, Adventure",Teen Miles Morales becomes the Spider-Man of h...